
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline; 
} 

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    height: 100vh;
    text-rendering: optimizeSpeed; 
}

